<% provide(:title, "Log in") %>

<div class="row">
   <div class="col-md-6 col-md-offset-3">
     <h1>Log in</h1>
     <hr>

     <%= simple_form_for(:session, url: login_path) do |f| %>
       <%= f.input :email %>
       <%= f.input :password %>
       <%= link_to "(forgot password)", new_password_reset_path %>
       <%= f.input :remember_me, label:"Rember me on this computer", as: :boolean %>
       <%= f.submit "Log in", class: "btn btn-primary"%>
     <% end %>

     <p>New user? <%= link_to "Sign up now!", signup_path %></p>
   </div>
</div>
